@model IEnumerable<WebAppFooter.Models.FooterDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSurnameChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoChange)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSurnameChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoChange)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="GenerateFileHtml" asp-route-id="@item.Id">GenerateFileHtml</a>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
